.html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.page-content{
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    margin-left: 0;
    margin-top: 0;
    align-items: start;
}

.main{
    height: 92vh;
    max-height: 90vh;
    width: 100%;
    display: grid;
    grid-template-areas:
    "ships ships ships"
    "board board log"
    "board board log"
    "display display log";
    grid-template-rows: 2fr 3fr 3fr 1fr;
    grid-template-columns: 4fr 4fr 3fr;
    justify-content: center;
    align-items: center;
    column-gap: 2%;

}

.ship-container{
    height: auto;
    width: 100%;
    grid-area: ships;
    background-image: url("../assets/waves.jpeg");
    background-position: center;
    background-size: cover;
}

.ship-container-display{
    width: 100vw;
    display: flex;
    justify-items: center;
    align-self: center;
}

.ship-fleet{
display: grid;
grid-template-columns: repeat(5, 1fr);
align-items: center;
justify-content: center;
}

.ship-card{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: auto;


}

.ship-image {
    width: 100%;
    height: auto;
}



.game-log{
    grid-area: log;
}
.game-board{
grid-area: board;
width: 100%;
height: 100%;
display: grid;
grid-template-rows: repeat(14, 1fr);
grid-template-columns: repeat(14, 1fr);
row-gap: none;
justify-items: center;
align-self: center;
}

.board-display{
    grid-area: display;
}

.game-log{
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/ship.jpeg);
    background-position: center;
    background-size: cover;
    row-gap: 1%
}

.game-log-history{
    height: auto;
    max-height: 65vh;
    overflow-y: scroll;
}

.board-row{
    width: 100%;
    height: 6%;
}


.board-cell{
    height: 1vh;
    width: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.board-cell.hover{
    background-color: aqua;
}

.board-cell.attack{
    background-color: red;
}



